<h1>Edit</h1>
<form id="new" action="/todos/{{todo.id}}?_method=PUT" method="POST">
	<div class="form">
		<label for="description">Description:</label>
		<input type="text" name="description" value="{{todo.description}}">
	</div>
	<div class="form">
		<label for="urgent">Urgent? (true/false)</label>
		<input type="text" name="urgent" value="{{todo.urgent}}" />
	</div>
	<div class="form">
		<label for="location">Location:</label>
		<input type="text" name="location" value="{{todo.location}}">
	</div>
	<div class="form">
		<input type="submit" value="Submit Changes"/>
	</div>
</form>