<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
    <title>Todos</title>
  </head>
  <body>
  	<nav>
  		<a href="/todos">All Todos</a>
  		<a href="/todos/new">New Todo</a>
      <a href="/movies">All Movies</a>
      <a href="/movies/new">New Movie</a>
  	</nav>
    {{{ body }}}
  </body>
</html>
