<form id="new" method="POST" action="/movies">
	<h3 class="form">New Movie:</h3>
	<div class="form">
		<label for="title">Title:</label>
		<input name="title">
	</div>
	<div class="form">
	  	<label for="viewed">Viewed: </label>
	 	<span>yes</span><input type='radio' name='viewed' value="true" checked>
	  	<span>no</span><input type='radio' name='viewed' value="false"/>
  	</div>
  	<div class="form">
		<input type="submit" value="Add a New Movie">
  	</div>
</form>