<!DOCTYPE html>
<html>
<head>
	<title>Pirates-Wiki</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<nav>
		<a href="/pirates">All Pirates</a>
		<a href="/pirates/new">New Pirate</a>
	</nav>
	{{{body}}}
</body>
</html>